@import "tailwindcss";

/* Variables */
@theme {
	/* Container */
	--container-padding: 0 16px;
	--container-max-width: 1332px;
	/* Fonts */
	--font-abeezee: "ABeeZee", sans-serif;
	--font-chakra: "Chakra Petch", sans-serif;
	--font-public: "Public Sans", sans-serif;
	/* Colors */
	--color-navy: #02234f;
	--color-brown-800: #281d1b;
	--gradient-btn: 180deg, #02234f 0%, #0550b5 100%;
	--gradient-text: to right, #02234f 0%, #0550b5 100%;
	--gradient-hero:
		180deg, rgba(249, 254, 254, 0) 0%, rgba(5, 73, 163, 0.3) 29.33%,
		#0549a3 64.9%, #002c66 85.82%, #02234f 100%;
	--gradient-card:
		168deg, rgba(210, 229, 255, 0.16) 0.43%, rgba(43, 49, 56, 0.32) 25.19%;

	--gradient-card-radial: 50% 50% at 50% 50%, #f9fffe 0%, #ddedff 100%;
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-[var(--container-max-width)] p-[var(--container-padding)];
}

@layer base {
	body {
		@apply font-chakra bg-[#F9FFFE];
	}
	section {
		@apply py-10;
	}
}
@layer components {
	.btn {
		@apply flex w-full items-center justify-center gap-3 rounded-full border p-5 text-center text-xl text-white uppercase max-sm:px-4 max-sm:py-3 max-sm:text-lg;
	}
}
@layer utilities {
	/* Mobile Menu With Drawer */
	.mobile-menu.open {
		@apply left-0;
	}

	.btn.btn-gradient {
		@apply border-none bg-linear-(--gradient-btn) transition-colors;
	}
	.btn.btn-white {
		@apply hover:text-navy rounded-full text-[19px] leading-[1.05] tracking-[5.7px] text-[#F7FEFF] uppercase transition-colors hover:bg-white;
	}
}
